/* style.css */

body {
	font-family: system-ui, sans-serif;
	font-size: 18px;
	color: #222;
	background: #f6f6f6;
	padding: 2rem 10vw;
}

header,
main,
footer {
	max-width: none;
	margin: 0 auto 2rem auto;
}

h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
	font-weight: 600;
}

h2 {
	font-size: 2rem;
	margin: 4rem 0 1rem;
}

h3 {
	font-size: 1.6rem;
	/*color: grey;*/
	margin: 2rem 0 1rem;
}

h4 {
	font-size: 1.1rem;
	/*color: grey;*/
	margin: 2rem 0 1rem;
}

h5 {
	margin: 2rem 0 1rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	width: 100%;
	max-width: 50rem;
	/*margin-left: auto;*/
	margin-right: auto;
}

p {
	margin-bottom: 1rem;
	line-height: 1.6;
}

footer {
	color: #888;
	font-size: 0.9rem;
	margin-top: 3rem;
}

figure {
	margin-bottom: 1rem;
	&.small img { width: 100%; max-width: 400px }
	&.medium img { width: 100%; max-width: 1000px }
	&.large img { width: 100%; max-width: 3000px }
}

img {
	/*width: 100vw;*/
	width: auto;
	max-width: 100%;
	height: auto;
}

code {
	background: #e4e4e4;
	border-radius: 0.3em;
	padding: 0 0.1em;
	color: #07a;
	font-size: 0.9em;
}


pre, pre.language-html {
	/*
	display: block;
	background: rgba(0,0,0,.1);
	padding: 0.4em;
	*/
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 0.3em;
	/*white-space: normal;*/
	/*white-space: unset;*/
}
