/* style.css */

body {
    font-family: system-ui, sans-serif;
    font-size: 18px;
    color: #222;
    background: #f6f6f6;
    padding: 2rem;
}

header,
main,
footer {
    max-width: 700px;
    margin: 0 auto 2rem auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

footer {
    text-align: center;
    color: #888;
    font-size: 0.9rem;
    margin-top: 3rem;
}

img {
    width: 100vw;
    max-width: 100%;
}